<div class="d-flex flex-row justify-content-around">
    <div class="d-flex">
        hullo
    </div>
    <div class="alert alert-primary" role="alert">
        Woo look at me
    </div>
    <div class="d-flex">
        gbye
    </div>
</div>
<div class="d-flex flex-row justify-content-between">
    <span class="badge badge-primary">Look ma I'm famous</span>
    <span class="badge badge-danger">Danger Man</span>
</div>