<div class="index">
    <h1>@gavant/ember-table</h1>
    <ul>
        <li><LinkTo @route="table">Normal paging table</LinkTo></li>
        <li><LinkTo @route="table-reversed">Reversed paging table</LinkTo></li>
    </ul>
</div>
