<div class="pannable-table">
    <button type="button" {{on "click" this.toggleColumns}}>
        Toggle Columns
    </button>

    <button type="button" {{on "click" this.updatePanPosition}}>
        Toggle Columns
    </button>
    <Table />
</div>