$gvnt-tbl-hover-bg-opaque: #ececec !default;
$gvnt-tbl-primary: #285a92 !default;
$gvnt-tbl-fixed-cell-bg: #fff !default;
$gvnt-tbl-border-color: rgba(#000, 0.075) !default;
$gvnt-tbl-font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$gvnt-tbl-text-muted: lighten(#6c757d, 15%) !default;
$gvnt-tbl-padding-bottom: 1rem !default;
$gvnt-tbl-padding-left: 1.25rem !default;
$gvnt-tbl-padding-right: 1.25rem !default;
$gvnt-tbl-td-padding-left: 0.75rem !default;
$gvnt-tbl-td-padding-right: 0.75rem !default;
$gvnt-tbl-tfoot-padding-bottom: 3rem !default;
