$gavant-table-hover-bg-opaque: #ececec !default;
$gavant-primary: #285a92 !default;
$gavant-table-fixed-cell-bg: #fff !default;
$gavant-table-border-color: rgba(#000, 0.075) !default;
$gavant-font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$gavant-text-muted: lighten(#6c757d, 15%) !default;
$gavant-padding-bottom: 1rem !default;
$gavant-padding-left: 1.25rem !default;
$gavant-padding-right: 1.25rem !default;
$gavant-td-padding-left: 0.75rem !default;
$gavant-td-padding-right: 0.75rem !default;
$gavant-tfoot-padding-bottom: 3rem !default;
